<nav>
  <div class="sidebar-header">
    <img src="assets/img/logo_login.png" alt="Logo" class="sidebar-logo" />
  </div>

  <div class="sidebar-section">
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/seguimiento" routerLinkActive="active">
          <i class="pi pi-folder"></i> Seguimiento
        </a>
      </li>
      <li>
        <a routerLink="/pendientes" routerLinkActive="active">
          <i class="pi pi-chart-line"></i> Documentos Pendientes
        </a>
      </li>
      <li>
        <a routerLink="/emitidos" routerLinkActive="active">
          <i class="pi pi-file"></i> Documentos Emitidos
        </a>
      </li>
    </ul>
  </div>
</nav>
